<html>
    <head>
        <title>Tanks for your attention</title>
    </head>
    <body style="background-image: linear-gradient(187.16deg, #181623 0.07%, #191725 51.65%, #0D0B14 98.75%);">
        <div style="padding-left: 5%; padding-right: 5%; padding-top: 6%; padding-bottom: 6%; color: #ffffff;">
            <img src="https://portfolio-api-production-71be.up.railway.app/storage/nika.jpg" alt="" width="22px" height="22px" style="margin-left: 49%; border-radius: 50%;" />
            <p style="color: #DDCCAA; text-transform: uppercase; text-align: center; margin-top: 10px;">Nika Nozadze</p>
            <p style="margin-top: 72px;">Hola {{name}}!</p>
            <p>Thanks for text me! I will be response as soon as possible</p>
        </div>
    </body>
</html>